/* Ger a font from fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* Setup variables for the project */
:root {
  /* Colors */
  --background: #29262e;
  --border: #5f4256;
  --text: #e4e4e4;
  --link: #db836b;
  --hover: #fbb864;

  /* Fonts */
  --fonts: 'Open Sans', sans-serif;
  --light: 100;
  --normal: 400;
  --bold: 700;
}

/* Reset browser defaults and set base layout */

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: var(--fonts);
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text);

  /* The grid and the grid elements makes a website filling the screen with a header and a footer(tob box for implementing on michael-h.dk) */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 'top-bar' 'header' 'main' 'footer';

  /* Set the size to fill out the screen */
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-weight: var(--light);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

a {
  color: var(--link);
  text-decoration: none;
  transition: all 0.3s ease-in;
}

a:hover,
a:focus,
a:active {
  color: var(--hover);
}

canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Styles for the single elements */

.container {
  /* container used for setting a max-width on the content */
  max-width: 112.5rem; /* 1800px */
  margin: 0;
}

.top-bar {
  /* Used when implemented with michael-h.dk */
  display: none;
  grid-area: top-bar;
  width: 100%;
  background: #2e2e2e;
  margin: 0;
}

.top-bar .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}

.top-bar .container h1 {
  margin: 0;
  font-size: 1.8rem;
}

a h1 {
  color: var(--text);
}

nav {
  display: flex;
  font-size: 1.4rem;
}

nav div:not(:last-child) {
  margin-right: 1rem;
}

@media screen and (min-width: 75rem) {
  .top-bar .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

main {
  grid-area: main;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main p {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

footer {
  grid-area: footer;
  padding: 0.5rem 1rem 2rem 1rem;
  border-top: 2px solid var(--border);
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .container p {
  font-size: 1.3rem;
}

.social {
  display: flex;
}

.social svg {
  width: 2rem;
  margin-left: 1.2rem;
}

#facebook {
  fill: #3b5998;
}

#github {
  fill: #000000;
}

#twitter {
  fill: #55acee;
}

#linkedin {
  fill: #007bb5;
}

@media screen and (min-width: 75rem) {
  footer .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
